<link rel="stylesheet" href="stylesheets/index/footer.css" />
<div id="footer">
    <div>Spotted a mistake? Enjoying the project? Any opinions on the website? Let us know!</div>
    <div id="send-feedback"> <div> Send feedback</div> </div>
    <div id="footer-3" class="link">View project & license on GitHub </div>
    <div id="footer-4">
        <div class="link"> Accessibility</div>
        <div class="link">Cookies Policy</div>
        <div class="link">Privacy Policy</div>
    </div>
    <div id="footer-5">© 2021 @ VeldasRDurai </div>
</div>