<link rel="stylesheet" href="stylesheets/index/help.css">
<div id="help">
    <div id='insruction-right'> Enter the Youtube video Link </div>
    <div id='insruction-left'> BELOW </div>
    <div id="downarrow"> ⇩ </div>
</div>