#form{
    /* box-sizing: border-box;
    border: 1px solid blue; */

    display: flex;
    /* display:none; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:20vh;
    background-color:#000000;
    /* position: relative; */
}
#form input{
    height:40px;
    width:50%;
    font-size: 30px;
    border:none;
    border-radius: 10px;
    padding: 0 10px;
}
#form input::placeholder{
    text-align:center;
    color: #1616179f;
    font-size:20px;
}
#form input:focus{
    outline:none;
}
#form svg {
    height: 40px;
    width: 60px;
    cursor: pointer;
}
#form svg:active #play-button-back {
    fill:#800;
    animation:none;
}
#form svg:hover #play-button-front {
    animation: blink 200ms ease-out infinite ;
}
@keyframes blink {
    from { fill: black;}
    to { fill: white;}
}