#header{
    /* box-sizing: border-box;
    border: 1px solid blue; */

    height:70vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-top:10vh;
    
    background-color:black;
    color:white;
}
#header #header-text{
    /* box-sizing: border-box;
    border: 1px solid blue; */
    
    width:25vw;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
#header #header-text #head {
    /* box-sizing: border-box; */
    /* border-left: 1px solid blue; */

    color:#f0002f;
    font-size: 100px;
    font-family: 'Kranky', cursive;
    font-family: 'Anton', sans-serif;
}
#header #header-text #sub{
    /* box-sizing: border-box;
    border: 1px solid blue; */

    font-size:25px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}
#header #header-img{
    /* box-sizing: border-box;
    border: 1px solid blue; */

    height: 450px;
    width: 785px;
    z-index: 11;
    transform: rotate(25deg);
    transform-origin: 100% 30%;
}