#free-space{
    height:200px;
    background-color:black;
    position: relative;
    z-index: 10;
}
#free-space #move{
    width: 200px;
    position:absolute;
    bottom: -35px;
    transform:rotateY(180deg);
    /* background-color: red; */
    /* display:none; */
}

@media only screen and (min-width: 425px) and (max-width:768px) { 
    #free-space #move{
        width:150px;
        bottom: -25px;
    }
}
@media only screen and (max-width: 425px) { /* Mobile large */
    #free-space #move{
        width:100px;
        bottom:-20px;
    }
}