#shutter{
    position: absolute;
    height:100vh;
    width:100vw;
    left: 0;right: 0;
    bottom: 0;
    background-color:white;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
#shutter #red, #shutter #black, #shutter #white{
    height: 100vh;
    width: 30vw;
    position: absolute;
    left:100vw;
}
#red{ background-color: red;     
    animation: moveLeft 300ms ease-in 500ms 1 alternate; }
#black{ background-color: black; 
    animation: moveLeft 300ms ease-in 600ms 1 alternate; }
#white{ background-color: white;
    animation: moveLeft 300ms ease-in 700ms 1 alternate; }

@keyframes moveLeft {
    from {left:100vw;}
    to {left:0vw;}
}